
@import '../abstracts/variables';


#graph-svg {
  height: 25rem;

  .graph-shape {
    fill: $fill-color;
    fill-opacity: 65%;
  }


  .graph-label {
    fill: $stroke-color;
  }

  .graph-point {
    stroke: $stroke-color;
  }


  .crossing {
    fill: $cross-color;
  }
}
