$clock-shadow: inset 2px 3px 8px 0 rgba(0, 0, 0, 0.2),
2px 3px 8px 0 rgba(0, 0, 0, 0.2);

$clock-border-color: solid 10px #333;
$clock-background: rgba(256, 256, 256, 0.25);
$clock-dot-color: #1ca0ff;
$clock-hour-color: #27ec00;
$color-min-color: rgb(0, 54, 167);
$color-sec-color: rgb(231, 5, 0);


$fill-color: #0D6EFD;
$stroke-color: #000;
$cross-color: #D02424;
$dotted-line-color: #D02424;