@font-face {font-family: manaspc; src: url("//db.onlinewebfonts.com/t/fb8953e4314f6a5ef9731778f42ced85.eot"); src: url("//db.onlinewebfonts.com/t/fb8953e4314f6a5ef9731778f42ced85.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/fb8953e4314f6a5ef9731778f42ced85.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/fb8953e4314f6a5ef9731778f42ced85.woff") format("woff"), url("//db.onlinewebfonts.com/t/fb8953e4314f6a5ef9731778f42ced85.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/fb8953e4314f6a5ef9731778f42ced85.svg#Manaspace") format("svg"); }



html, body {
    font-family: manaspc, serif;
    color: #d62020;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 16pt;
    min-width: 690px;
}

.form-error-container:not(.shown-form-error-container) {
    display: none;
}

#form-error-container {
    border: solid 2px darkred;
}

.bad-content {
    padding: 1px;
    border: solid 1px #999;
    background: #111;
    color: #fff;
}

#body {
    max-width: 875px;
    width: 100%;
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    z-index: 1;
}


#header {
    line-height: 1;
    margin: 20px auto;
}


#main {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}


p {
    position: relative;
    top: 20%;
    font-size: 20pt;
}

label {
    font-family: manaspc, serif;
    font-size: 14pt;
    color: #d4ff00;
}

.photo img {
    max-width: 875px;
    height: 100%;
    overflow: hidden;
}

a {
    color: #6600CC;
    text-decoration: none;
    background-color: transparent;
}

h1 {
    font-family: manaspc, serif;
    color: #ff66d9;
    font-size: 24px;
    background-color: black;
}

h2 {
    font-family: manaspc, serif;
    color: #319d5e;
    font-size: 24px;
    background-color: black;
}

h3 {
    font-family: manaspc, serif;
    color: #6600CC;
    font-size: 24px;
    background-color: black;
}


h5 {
    font-family: manaspc, serif;
    color: #6600CC;
    font-size: 24px;
    background-color: black;
}

.mainbox {
    margin: 15px auto;

    display: inline-block;
    border: solid 2px #CCCCCC;
    padding: 10px;

    margin-inline-start: 0.25ch;
    margin-inline-end: 0.25ch;
}

.text-center {
    text-align: center!important;
}

.text-right {
    text-align: right!important;
}

.pt-1, .py-1 {
    padding-top: .25rem!important;
}
.col-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.align-items-center {
    align-items: center!important;
}
.justify-content-between {
    justify-content: space-between!important;
}
.flex-nowrap {
    flex-wrap: nowrap!important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
