
<div class="container">
<section class="container-flow">
  <div class="hover-area area-1"></div>
  <div class="hover-area area-2"></div>
  <div class="hover-area area-3"></div>
  <div class="hover-area area-4"></div>
  <div class="hover-area area-5"></div>
  <div class="hover-area area-6"></div>
  <div class="hover-area area-7"></div>
  <div class="hover-area area-8"></div>
  <div class="hover-area area-9"></div>



  <section class="content-flow" id="content-flow">
    <p class="title primary">Какой-то</p>
    <p class="title secondary">Многозначительный</p>
    <p class="title tertiary">Текст.</p>
    <p class="title quaternary">Красиво же</p>
    <button type="button" [routerLink]="['/login']" class="btn button btn-lg">Start</button>
  </section>
</section>

</div>
