.container-flow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  grid-template-areas:
    'one two three'
    'four five six'
    'seven eight nine';

  height: calc(100vh - 10px);
  perspective: 1000px;
}

.hover-area {
  align-self: stretch;
  justify-self: stretch;
}

.area-1 { grid-area: one; }
.area-2 { grid-area: two; }
.area-3 { grid-area: three; }
.area-4 { grid-area: four; }
.area-5 { grid-area: five; }
.area-6 { grid-area: six; }
.area-7 { grid-area: seven; }
.area-8 { grid-area: eight; }
.area-9 { grid-area: nine; }

.hover-area:nth-of-type(1):hover {
  &~.profile-card {
    transform: rotateY(-10deg) rotateX(10deg);
    & .secondary, .quaternary {
      transform: translateX(-.5rem) rotateY(2deg) rotateX(-2deg);
    }
  }
}
.hover-area:nth-of-type(2):hover {
  &~.profile-box {
    transform: rotateY(0deg) rotateX(10deg);
    & .secondary, .quaternary {
      transform: translateX(0) rotateX(0) rotateX(-2deg);
    }
  }
}
.hover-area:nth-of-type(3):hover {
  &~.profile-card {
    transform: rotateY(10deg) rotateX(10deg);
    & .secondary, .quaternary {
      transform: translateX(.5rem) rotateY(-2deg) rotateX(-2deg);
    }
  }
}
.hover-area:nth-of-type(4):hover {
  &~.profile-card {
    transform: rotateY(-10deg);
    & .secondary, .quaternary {
      transform: translateX(-.5rem) rotateX(2deg);
    }
  }
}
.hover-area:nth-of-type(5):hover {
  &~.profile-card {
    transform: rotateY(0deg);
    & .secondary, .quaternary {
      transform: translateX(0) rotateX(0);
    }
  }
}
.hover-area:nth-of-type(6):hover {
  &~.profile-card {
    transform: rotateY(10deg);
    & .secondary, .quaternary {
      transform: translateX(.5rem) rotateX(-2deg);
    }
  }
}
.hover-area:nth-of-type(7):hover {
  &~.profile-card {
    transform: rotateY(-10deg) rotateX(-10deg);
    & .secondary, .quaternary {
      transform: translateX(-.5rem) rotateY(2deg) rotateX(2deg);
    }
  }
}
.hover-area:nth-of-type(8):hover {
  &~.profile-card {
    transform: rotateY(0deg) rotateX(-10deg);
    & .secondary, .quaternary {
      transform: translateX(0) rotateX(0) rotateX(2deg);
    }
  }
}
.hover-area:nth-of-type(9):hover {
  &~.profile-card {
    transform: rotateY(10deg) rotateX(-10deg);
    & .secondary, .quaternary {
      transform: translateX(.5rem) rotateY(-2deg) rotateX(2deg);
    }
  }
}

.profile-card {
  align-self: center;
  display: flex;
  flex-direction: column;
  grid-area: 1 / 2 / 3 / 3;
  justify-content: space-between;
  justify-self: center;
  transition: 2s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin-top: 100px;
  top: 10%;
  padding: 40px;


  position:relative;
  width:300px;
  min-height:400px;
  background:#fff;
  box-shadow:0 20px 50px rgba(0,0,0,.1);
  border-radius:10px;
}
.profile-card:hover {
  box-shadow:0 30px 70px rgba(0,0,0,.2);
}
.profile-card .profile-box {
  position:absolute;
  top:50%;
  left:0;
  transform:translateY(-50%);
  text-align:center;
  padding:20px;
  box-sizing:border-box;
  width:100%;
}
.profile-card .profile-box .img {
  width:120px;
  height:120px;
  margin:0 auto;
  border-radius:50%;
  overflow:hidden;
}
.profile-card .profile-box .img img {
  width:100%;
  height:100%;
}
.profile-card .profile-box h2 {
  font-size:20px;
  color:#262626;
  margin:20px auto;
}
.profile-card .profile-box h2 span {
  font-size:14px;
  background:#e91e63;
  color:#fff;
  display:inline-block;
  padding:4px 10px;
  border-radius:15px;
}
.profile-card .profile-box p {
  color:#262626;
}
.profile-card .profile-box span {
  display:inline-flex;
}
.profile-card .profile-box ul {
  margin:0;
  padding:0;
}
.profile-card .profile-box ul li {
  list-style:none;
  float:left;
}
.profile-card .profile-box ul li a {
  display:block;
  color:#aaa;
  margin:0 10px;
  font-size:20px;
  transition:0.5s;
  text-align:center;
}
.profile-card .profile-box ul li:hover a {
  color:#e91e63;
  transform:rotateY(360deg);
}
